{% extends 'amado/layout.html' %}

{% block content %}
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">


                <!-- Single Catagory -->
                {% for product in products %}
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'product_detail' product_pk=product.pk %}">
                    {% for image in product_image %}
                        {% if image.product_pk.pk == product.pk %}
                        <img src="{{ MEDIA_URL }}{{ image.images }}" alt="{{product.item}}">
                        {% endif %}
                    {% endfor %}

                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ${{product.price}}</p>
                            <h4>{{product.item}}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->


<a href="{% url 'product_all' %}">Add new product. ALSO FOR ADMIN</a>
{% endblock %}